.header {
  padding-bottom: var(--size-8);
  border-bottom: 8px solid var(--color-primary-100);
  margin: var(--size-4) 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.header p {
  font-size: var(--size-4);
  color: var(--color-primary-500);
  margin-left: 5rem;
  line-height: initial;
  text-align: center;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name a {
  margin: 0;
  line-height: initial;
}

.image {
  width: 200px;

  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--color-grey-700);
}

.header img {
  object-fit: cover;
  align-content: center;
}

@media (min-width: 768px) {
  .header {
    margin: var(--size-8) 0;
    flex-direction: row;
    align-items: flex-end;
  }

  .header h1 {
    font-size: var(--size-16);
    text-align: left;
  }
}
